# Arxius bruts de Suunto (JSONs originals d'exportació)
*.json

# Arxius binaris i temporals de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entorn virtual
venv/
env/
.venv/

# Arxius del sistema operatiu
.DS_Store
Thumbs.db

# Arxius de configuració de l'editor
.vscode/
.idea/
*.swp

# Arxius Suunto originals (FIT, GPX)
*.fit
*.gpx
